.container-apps {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 266px;
	width: 1156px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    gap: 71px;
	.text2 {
		width: 420px;
		@include font18;
		margin-bottom: 40px;
	}
}
.download {
	width: 254px;
	@include font_H2;
	line-height: 1.33;
	text-align: start;
	&::after {
		@include border;
		margin-bottom: 31px;
		margin-left: 0px;
	}
}
.link3 {
	@include button;
	justify-content: space-between;
	background-color: inherit;
	color: #458FF6;
	border-width: 1.4px;
	border-style: solid;
	border-color: #458FF6;
}
.vector {
	margin: 20px;
}