.conteiner-customer {
	width: 1120px;
	display: flex;
	align-items: baseline;
	background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
	border-radius: 24px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 42px;
	justify-content: space-between;
	flex-direction: column;
	padding: 64px 118px 79px;
}
.customer {
	width: 522px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.33;
	margin-right: auto;
	margin-left: auto;
	color: white;
	&::after {
		@include border;
		background-color: white;
		margin-bottom: 66px;
	}
}
.customerlist {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.persons {
	padding-left: 29px;
	color: white;
	p {
		width: 184px;
		font-weight: 700;
		font-size: 22px;
		line-height: 2.18;
	}
	span {
		font-weight: 400;
		font-size: 18px;
		opacity: 0.85;
	}
}
.photo {
	width: 141px;
	height: 141px;
	border-radius: 70px;
}
.qcontent {
	margin-right: auto;
	margin-left: auto;
	padding-left: 110px;
	color: white;
	font-weight: 400;
	font-size: 19px;
	line-height: 1.58;
	opacity: 0.9;
}
q {
	width: 420px;
}
.arrow {
	width: 28px;
	background-color: inherit;
}
.points {
	width: 10px;
	background-color: inherit;
	padding-left: 18px;
	padding-right: 0px;
}
.arrowpoints {
	width: 336px;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 266px;
}