footer {
	width: 1600px;
    margin-right: auto;
    margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
	padding: 118px 213px 109px 190px;
	color: white;
}
.footer-logo {
	width: 391px;
	img {
		margin-bottom: 17px;
		padding-right: 12px;
	}
	span {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.25;
	}
}
.footer-text1 {
	@include font18;
	line-height: 1.56;
	margin-bottom: 31px;
	color: white;
}
.footer-nav {
	width: 130px;
	h3 {
		font-weight: 700;
		font-size: 20px;
		line-height: 3.0;
		margin-bottom: 2px;
	}
	li {
		font-weight: 300;
		font-size: 18px;
		line-height: 2.11;
	}
}