.conteiner-healthcare {
    width: 1273px;
    margin-left: auto;
	margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 142px;
    margin-bottom: 229px;
	.text2 {
		width: 450px;
		@include font18;
		margin-bottom: 37px;
	}
}
.content-healthcare {
	justify-content: center;
}
.leading {
	width: 481px;
    @include font_H2;
	padding-top: 57px;
	text-align: start;
	&::after {
		@include border;
		margin-bottom: 31px;
		margin-left: 0px;
	}
}
.link2 {
	@include button;
	background-color: inherit;
	color: #458FF6;
	border-width: 1.4px;
	border-style: solid;
	border-color: #458FF6;
}